button {
  background: $primary;
  border: none;
  padding: 1em;
  margin: 10px;
  
  font-family: 'Open Sans', san-serif;
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
}

#donate {
  background: $secondary;
  text-decoration: none;
  font-size: 18px;
  padding: 1em 1.4em .8em;
  line-height: 18px;
  border: 1px solid $primary;
  margin: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  outline: none;
  letter-spacing: 1px;

  &:active {
    margin-top: 2px;
  }
}