@mixin zeroOut {
    margin: 0;
    padding: 0;
}

@mixin borderBox {
  box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

@mixin defaultRadius {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

@mixin textShadow {
  text-shadow: 2px 1px 1px rgba(0,0,0,0.5);
}