@mixin breakpoint($point) {
    @if $point == medium {
        @media (min-width: 30em)  { @content; }
    }
    @else if $point == large {
        @media (min-width: 50em) { @content; }
    }
    @else if $point { // allows custom breakpoints
        @media (min-width: $point) { @content; }
    }
}

@mixin zeroOut {
    margin: 0;
    padding: 0;
}

@mixin borderBox {
  box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

@mixin defaultRadius {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

@mixin trans {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
}

@mixin textShadow {
  text-shadow: 2px 1px 1px rgba(0,0,0,0.5);
}

@mixin background-size ($value) {
  -webkit-background-size: $value;
  background-size: $value;
}

@mixin box-shadow ($value) {
  -webkit-box-shadow: $value;
  box-shadow: $value;
}