#basic-modal-content {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#000;}

/* Container */
#simplemodal-container {
  height:360px; 
  width:600px; 
  background-color:white; 
  border:4px solid #ccc; 
  padding:12px;}
#simplemodal-container .simplemodal-data {
  padding:8px;
}


#simplemodal-container a.modalCloseImg {background:url(../img/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}