/* ==========================================================================
   TYPE
   ========================================================================== */


@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);

body {
    font: 16px/26px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    color: #000;
}
h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
    display: block;
    clear: both;
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
}

.large-quote {
  font-family: 'Open Sans Condensed';
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1.75rem;
  color: #ff914b;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
  quotes: "“" "”" "‘" "’";
  display: block;

  &:before {
    font-size: 2rem;
    font-family: Georgia;
    color: #ccc;
    content: open-quote;
  }
  &:after {
    font-size: 2rem;
    font-family: Georgia;
    color: #ccc;
    content: close-quote;
  }
}

.hdr-primary {
  font-size: 3.5rem;
  text-align: center;
  text-transform: uppercase;
}

.hdr-secondry {
  font-size: 2.0rem;

}

.lead {
  padding: 0 1em;
  max-width: 650px;

  h2 {
    line-height: 1.5em;
    @include zeroOut;
  }

  p {
    text-align: justify;
    line-height: 1.5em;
  }
}

.about-us-hdr {
  font-family: 'Open Sans';
  font-weight: 300;
  
  span {
    font-family: 'Open Sans Condensed';
    font-size: 5rem;
    line-height: 1em;
    font-weight: 700;
    letter-spacing: -.15rem;
    display: block;
  }
}

.black {
  color: black;
}

.white {
  color: white;
}

.orange-text {
  color: $primary;
}

.orange {
  background: $primary;
  color: white;
}

.bold {
  font-weight: 700;
}

.bg-black {
  background: #000;
}
.feature-content {
  margin: 0;
  padding: 0;
  background-color: #333;
}

.hdr-box {
  
  @include breakpoint($bp) {
    margin-top: 150px;    
  }
  
  font-size: 4rem;
  color: white;
  background: rgba(0,0,0,0);
  text-align: center;
  margin: 0;
  padding: 1rem;
}

// LINKS
a {
  color: $secondary;
  text-decoration: none;
  -webkit-transition: all .30s ease-in-out;
  -moz-transition: all .30s ease-in-out;
  -ms-transition: all .30s ease-in-out;
  -o-transition: all .30s ease-in-out;
  transition: all .30s ease-in-out;
  &:hover {
    text-decoration: underline;
  }
}


