
/* ==========================================================================
   VARIABLES
   ========================================================================== */
$primary: #f26500;
$secondary: orange;
$bg-color: #000;
$link: #16a3d7;
$bp: 768px;



/* ==========================================================================
   STRUCTURE
   ========================================================================== */
@import 'reset';
@import 'base';
@import 'mixins';
@import 'type';
@import 'buttons';
@import 'modal';
@import 'nav';
@import 'forms';



/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */
html, body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  position: relative;
  z-index: 1;
}

.main-container {
    max-width:1000px;
    margin:0 auto;
}

#profile-feature ul {
  margin: 0;
  padding: 0;

  h3 {
    line-height: 1em;
    padding: 0;
    margin: 0;
    opacity: 0.0;
  }
}



.facts {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    list-style-type: none;
    display: block;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    border-bottom: 2px dotted $dark-orange;
    &:last-child {
      text-align: center;
      border-bottom: none;
    }
  }
}

.facts h3 {
  font-size: 5.5rem;
  line-height: 3.4rem;
  span {
    font-family: 'Open Sans';
    font-size: 1.25rem;
    font-weight: 700;
    display: block;
    font-weight: normal;
    text-transform: uppercase;
  }
}

@include breakpoint(768px) {
  .facts {
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    li {
      list-style-type: none;
      display: inline-block;
      width: 30%;
      text-align: center;
      border-bottom: none;
      &:last-child {
        text-align: left;
        padding-left: 50px;
      }
    }
  }
}


/* ===================
    ALL: Color Theme
   =================== */



.footer-container {
    background: #efefef;
    clear: both;
    padding: 1em 0;
}


#content p {
  word-wrap: break-word;
}



.card-break-2up {
  width: 50%;
  float: left !important;
  
}

.white {
  color: white;
}

/* ==============
    MOBILE: Main
   ============== */


.footer-container #footer {
    color: black;
    padding: 20px 0;
}

.logo-footer {
    margin: 0 auto;
    text-align: center;
    float: none;
}

.logo {
  top: 0px;
  left: 0;
  margin: 0;
  padding: 0;
  float: left;
  
  @include breakpoint(768px) {
    position: absolute;
    z-index:999;
  }
}

.social {
    float: left;
    display: inline-block;
    clear:both;
    li {
      padding: 0px;
    }
}
.wrapper {
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .logo {

}

.card {
  background: #efefef;
  border: 1px solid #ccc;
  margin: 1rem 0;
  padding: 0;
  vertical-align: bottom;

  img {
    width: 100%;
  }
  h3 {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
  }
  h4 {
    font-family: 'Open Sans Condensed';
    color: #ccc;
    font-weight: 700;
    font-size: 3.2rem;
    margin: 0;
    padding: 0;
    span {
      font-size: 3.2rem;
      letter-spacing: -2px;
      color: black;
      text-transform: uppercase;
    }
  }
}

.action-card {
  height: 320px;
  width: 100%;
  padding: 1em;
  display: inline-block;
  box-sizing: border-box;
  ul {
    padding-left: 2em;
  }
  @include breakpoint(768px) {
      width: none !important;
  }
}

.home-card {
  background: $primary;
  border: 1px solid white;
  margin: 1rem auto;
  padding: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  img {
    width: 100%;
  }
  h3 {
    color: white;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
  }
  &:hover {
    // background: $secondary;
  }
}

.board-card {
  background: $primary;
  border: 1px solid white;
  margin: 1rem 0;
  padding: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  color: white;
  text-align: center;
  height: 400px;
  @include breakpoint(768px) {
    height: 400px;   
  }
  img {
    width: 100%;
  }

  h3 {
    color: white;
    font-size: .95rem;
    font-weight: 600;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  &:hover {
    background: $secondary;
  }
  .company {
    margin: 0 auto;
    padding: 0;
    font-style: normal;
    line-height: 1;
  }
}

.section {
  .news-hdline span {
    font-weight: 800;
  }
  ul {
    list-style-type: none;
    padding-left: 1rem;
  }
}

#submenu {
  display: none;
}
.nav-horiz li {
display: table-cell;
}

.nav-fixed {
  width: 100%;
  position: fixed;
  z-index:9999;
  top:0;
}

.feature-hero {
  img {
    width: 100%;
  }
}
.subheader {
  font-size: 1.25rem;
  font-weight: 300;

  ul {
    padding-left: 2rem;
  }
}

.lead {
  img {
    width: 100%;
    @include breakpoint(768px) {
        width: inherit !important;
    }
    
  }
}

.slider-caption {
  display: block;
  width: 100%;
  background: rgba(0,0,0,1);
  position: relative;
  bottom: 0;
  @include breakpoint(768px) {   
   padding: 1rem;
   padding-left: 2rem;
   padding-right: 2rem;
  }
  h4 { 
    font-size:2.4rem; 
    line-height:1.1em; 
    @include zeroOut; 
    display: block; 
    color: white; 
    text-transform: uppercase;
    @include breakpoint(768px) {
      font-size: 3rem;
    }
    
    span {
      color: $primary;
    }
  }
  h5 {
    font-size:2.4rem; 
    line-height:1.1em; 
    @include zeroOut; 
    display: block; 
    color: white; 
    text-transform: uppercase;
    @include breakpoint(768px) {
      font-size: 3rem;
        
    }
    
  }
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.hero {
  background:  #000;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  padding: 0;
  img {
    width: 100%;
  }
  video {
    width: 100%;
    border: none;
    padding:0;
    margin:0;
    vertical-align: top;
    box-sizing: border-box;
  }
}
 .slider {
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    word-wrap: break-word;

      ul {list-style-type:none; margin:0; padding:0;
        li {list-style-type:none; @include zeroOut;}
      }
      h2 {font-size:$base-h2 ; @include zeroOut; @include textShadow; display: inline;}
      h3 {font-size:$base-h3; @include zeroOut; @include textShadow; display: inline;}

      .aside {
      background: #000;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      color: white;
      left: 0 !important;
      bottom: 30px;
      position: static;
      border: 0;
      font-size: 100%;
      margin:0 auto;
      padding: 15px 20px;
      width:100%;
      text-align: left !important;
      text-transform: uppercase;
      word-wrap: break-word;
      vertical-align: baseline;
      z-index: 3;
      display: inline-block;
      }
      .aside-right {
        left: auto;
        right: 0;
      }
      .aside-left {
        right: auto;
        left: 0;
      }
  }

.nav-secondary {
    background: #efefef;
    border: 1px solid #ccc;
    padding: 0;

    h3 {
        font-size: 1rem;
        margin: 0;
        padding: .5rem;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            border-bottom: 1.75px dotted #bbb;
            padding: .5rem;
            vertical-align: middle;
            
            &:first-child {border-top: 1.75px dotted #bbb;} /* first child */
            &:last-child {border-bottom: none;} /* last child */

            .hdr {
              display: block;
              font-size: 14px;
              line-height: 14px;
              padding-top:2px;
              text-transform: uppercase;
              vertical-align: middle;
            }

            .hdr-sub { font-size: 14px; line-height: 14px; display: block; vertical-align: middle; }
        } /* end secondary list item */
    } /* end secondary list */
} /* end secondary */

.nav {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;

    
    li {
        display: inline-block;
        float: left;
        text-align: left;
    }
    li:first-child {
        padding-left: 0;

    }
}

.social {
  padding-top: 1rem;
}

#footer {
  bottom: 0;
  left: 0;
  z-index: 1;
  position: relative;
  margin-top: 1em;
  width: 100%;
  @include breakpoint(768px) {
      margin-top: 0;
  }
  
    .nav {
        font-size: 1rem;
    }
    .copyright {
        display: block;
        margin:0;
        padding:0;
        float:left;
        clear:both;
        font-size: .85rem;
        text-align: center;
        width: 100%;
        padding-top: 5px;
        @include breakpoint(768px) {
            text-align: left;
        }
        
    }
}

#footer-menu {
  li {
    display: block;
    position: relative;
    width: 100%;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    border-bottom: 1px dotted #ccc;
    &:last-child {
      border-bottom: 1px solid #ccc;
    }
    a {
      text-decoration: none;
      color: $secondary;
      padding: .5em;
      display: block;
    }
  }
  @include breakpoint(768px) {
    li {
      width: inherit !important;
      display: inline-block;
      border: none;
      &:last-child {
        border: none;
      }
    }
      
  }
  
}

#financial-icons {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: block;
    text-align: center;
    padding: 1rem 0;
    @include breakpoint(768px) {
      display: inline-block;    
    }
    .info {
      display: block;
      font-style: normal;
    }
  }
}

.pull-left {
    float: none !important;
}

.pull-right {
    float: none !important;
}
.ocard {
  margin: 0;
  padding: 2em 1em;
  background: white;
}

#profile-feature {
  margin: 0;
  padding: 2rem 0;
}

#overview {
  background-image: url("/img/squairy_light.png");
  padding-bottom:2em;
}

#accomplishments {
  background-color: #222;

  .accomplishments-profile {
    background: white;
    padding: 2rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

img {
  margin: 0;
  padding: 0;
}

.year {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 1.15;
}
.content {
  position: relative;
  z-index: 1;
  padding-bottom: 10px;
}

.sponsor {
  
  @media (max-width: 768px)  { 
    width: 100%;
  }

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
  @include trans;

  &:hover {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: none;
    -webkit-filter: grayscale(0%);
  }
}

.donate-form {
  text-align: center;

  #TransactionAmount {
    text-align: center;
    width: 80%;
    height: 2.75rem;
  }
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 768px) {


  /* ==========================================================================
     GRID
     ========================================================================== */
  @import "grid";
  
  

  .pull-left {
    float: left !important;
  }

    .pull-right {
      float: right !important;
  }
  /* ============
      WIDE: Main
     ============ */


      .social {
          float: left !important;
          display: block;
          clear:both;
          padding-top: 0;
          li {
              padding: .5rem .25rem !important;
          }
      }
      #footer nav {
          float: left;
      }
      .logo-footer {
      float:right;
      clear:left;
  }
  .hero {
    background:  #000;
    width: 100%;
    max-height: 600px;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    img {
      margin: 0 auto;
      text-align: center;
      width: 100%;
    }
  }
  .slider {
    position: relative;
    overflow: hidden;
      ul {list-style-type:none; margin:0; padding:0;}
      li {list-style: none; float: left;}
      h2 {font-size:4rem; line-height:1.1em; @include zeroOut; display: block;}
      h3 {font-size:1.75rem; line-height:1; @include zeroOut; display: block;}

      .aside {
      background: none !important;
      box-sizing: border-box;
      color: white;
      left: 0;
      bottom: 30px;
      position: absolute;
      border: 0;
      font-size: 100%;
      margin:0 auto;
      padding:0;
      text-transform: uppercase;
      vertical-align: baseline;
      z-index: 3;
      display: inline-block;
      }
      .aside-right {
        left: auto;
        right: 0;
        
      }
      .aside-left {
        right: auto;
        left: 0;
      }
  }
  .feature {
  margin: 0;
  padding:0;
  background: #000;
  min-height: 600px;
  position: relative;
  box-sizing: border-box;
  // border-bottom: 1px solid #fff;
  // border-top: 1px solid #000;
  overflow: hidden;
  }
  .feature-hero {
    bottom: 0;
    left: 50%;
    margin-left: -800px;
    position: absolute;
    top: 0;
    width: 1600px;
    z-index: 1;

    img {
      margin: 0 auto;
      display: block;
      width: 100%;
    }

    video {
      margin: 0 auto;
      display: block;
      width: 100%;
    }
  }
  .feature-content {
    background-color: transparent !important;
    z-index: 5;
    position: relative;
    padding-top:60px;

    h2 {
      font-size: 2.5rem;
      font-weight: 300;
      
      span {
        color: $secondary;
      }
    }
    .subheader {
      margin-top: 15px;
    }
  }
  .page-hdr {
    position: absolute;
    z-index: 9998;
    bottom: 30px;
    padding-left: 2rem;
    h1 {color: white; font-size:4rem ; @include zeroOut; @include textShadow; display: inline;}
  }

  .gutter-horiz-in {
    padding-left: 1.53061225%;
    padding-right: 1.53061225%;
  }
  #donate-header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 100px;
    width: 100%;
    height: 700px;
    background: url('/img/donate-child-window.jpg') no-repeat center;
    @include background-size(cover);

    .donate-form {
      width: 100%;
      padding: 2rem;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

      border: 1px solid #ccc;
      background: rgba(255,255,255,0.7);

      text-align: center;

      button {
        width: 100%;
      }
      
      h1 {
        font-size: 3rem;
        padding: 0rem;
        margin: 0;
      }

      #TransactionAmountContainer {
        display: block;
        position: relative;
        z-index: 1;
        width: 100%;
        line-height: 26px;
        height: 70px;

        font-weight: 700;

        span {
          width: 43px;
          position: absolute;
          z-index: 99;
          margin: 0 15px 0 15px;
          top: 23px;
          left: 0;
          font-size: 20px;
          line-height: 26px;
          text-align: left;
          color: #333;

        }

        #TransactionAmount {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          background: #fff;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          border: 1px solid rgba(203,203,203, 1);
          display: block;
          position: absolute;
          z-index: 2;
          padding: 14px 15px 15px 11px;
          margin: 0 auto;

          height: 70px;
          width: 100%;
          top: 0;
          left: 0;

          color: #333;
          font-size: 20px;
          text-align: center;

          -webkit-transition: all 0.30s ease-in-out;
          -moz-transition: all 0.30s ease-in-out;
          -ms-transition: all 0.30s ease-in-out;
          -o-transition: all 0.30s ease-in-out;
          transition: all 0.30s ease-in-out;
          
          &:focus {
            box-shadow: 0;
            border: 1px solid $secondary;
            outline: none;
          }
        }
        .curr {
          text-align: right;
          right: 0;
          left: inherit;
        }
      }
      #giving-options {
      list-style-type: none;
      li {
        display: inline-block;
        padding: 1rem;
      }
    }

    }
  }
} // media query for 768

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

}

  .banner { position: relative; overflow: auto; width: 100%; background: #000; margin: 0; padding: 0;}
  .banner li { list-style: none; margin: 0; padding: 0;}
  .banner ul li { float: left; margin: 0; padding: 0; }

ul, li {
 padding: 0;
 margin: 0;
}

// Alignments 

.center-text {
  text-align: center;
}
.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.top-200 {
  @include breakpoint(768px) {
    margin-top: 70px;   
  }
}

.center {
  float: none !important;
  margin: 0 auto !important;
}

.donate-options {
  display: none;
}

#corp-sponsors {
  @include zeroOut;
  list-style-type: none;
  padding: 5px;
  h3 {
    @include zeroOut;
  }
}

#events {
  
}

#slider-shelters {
  color: white;
  background: #333;
  img {
    width: 100%;
  }
  .shelter-data {
    text-align: left;
    padding-left: 2rem;
  }
}

.list {
  padding-left: 1.5rem;
}

.options {
  display: none;
  img {
    width: 100%;
  }
}

#events {
  display: block;
}

.date {
    font-weight: bold;
    padding-right: 1rem;
    vertical-align: top;
  }

table {
  vertical-align: top;
}

.ls-wrapper .liquid-slider {
  background: white;
}

.pillar {
  background: $secondary;
}

#internships {
  ul {
    padding-left: 2rem;
  }
}

.shelter-slider {

  .title {
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
    margin-left: -2px;
    line-height: 1.2;
    @include textShadow;
  }
  .provider {
    padding: 0;
    margin: 0;
    line-height: 1;
    @include textShadow;
  }
  .city {
    font-style: italics;
    padding: 0;
    margin: 0;
    @include textShadow;
  }

  .shelter-header {
    position: relative;
    z-index: 1;
    img {
      width: 100%;
    }
  }

  .shelter-info {
    width: 100%;
    color: white;
    position: absolute;
    z-index: 2;
    bottom: 0;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .shelter-facts {
    background: #222;

    padding: 2rem;
    color: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    ul {
      li {
        display: block;
        span {
          font-weight: bold;
        }
      }
    }
  }
}

.royalSlider {
  width: 100%;
}