
/* ==========================================================================
   VARIABLES
   ========================================================================== */
$primary: #f26522;
$secondary: orange;
$bg-color: #000;
$link: #16a3d7;

$b-max: 35em;

/* ==========================================================================
   MIXINS
   ========================================================================== */
@import 'reset';
@import 'type';
@import 'buttons';
@import 'mixins';
@import 'nav';
@import 'forms';

/* ==========================================================================
   TYPE
   ========================================================================== */

i { // icons
  font-size: 30px;
  float: left;
  width: 30px;
  margin-right: .2em;
  vertical-align: middle;
}

.hdr-primary {
  font-size: 3.5rem;
  text-align: center;
  text-transform: uppercase;
}

.hdr-secondry {
  font-size: 2.0rem;

}

.lead {
  padding: 0 1em;
  max-width: 650px;

  h2 {
    line-height: 1.15em;
    @include zeroOut;
  }
}

.about-us-hdr {
  font-family: 'Open Sans';
  font-weight: 300;
  
  span {
    font-family: 'Open Sans Condensed';
    font-size: 5rem;
    line-height: 1em;
    font-weight: 700;
    letter-spacing: -.15rem;
    display: block;
  }
}

.black {
  color: black;
}

.white {
  color: white;
}

.orange {
  background: #ff761e;
  color: white;
}

.bg-black {
  background: #000;
}
.feature-content {
  margin: 0;
  padding: 0;
  background-color: #333;
}


button {
  font-family: 'Open Sans Condensed', san-serif;
  font-size: 1rem;
  color: white;
  background: $primary;
  padding: 1em;
  margin: 10px;
  border: none;
  border-radius: 5px;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

#footer {
    margin-top: 1em;
}

h1, h2, h3 {
    font-family: sans-serif;
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
}

.main-container {
    max-width:1000px;
    margin:0 auto;
}

#profile-feature ul {
  margin: 0;
  padding: 0;

  h3 {
    line-height: 1em;
    padding: 0;
    margin: 0;
    opacity: 0.0;
  }
}

.large-quote {
  font-family: 'Open Sans Condensed';
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1.75rem;
  color: #ff914b;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
  quotes: "“" "”" "‘" "’";
  display: block;

  &:before {
    font-size: 2rem;
    font-family: Georgia;
    color: #ccc;
    content: open-quote;
  }
  &:after {
    font-size: 2rem;
    font-family: Georgia;
    color: #ccc;
    content: close-quote;
  }
}

.facts {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    list-style-type: none;
    display: inline-block;
    width: 30%;
    text-align: center;
    &:last-child {
      text-align: left;
      padding-left: 50px;
    }
  }
}

.facts h3 {
  font-size: 5.5rem;
  line-height: 3.4rem;
  span {
    font-family: 'Open Sans';
    font-size: 1.25rem;
    font-weight: 700;
    display: block;
    font-weight: normal;
    text-transform: uppercase;
  }
}



/* ===================
    ALL: Color Theme
   =================== */



.footer-container {
    background: #efefef;
    clear: both;
    padding: 1em 0;
}


#content p {
  word-wrap: break-word;
}



.card-break-2up {
  width: 50%;
  float: left !important;
}

/* ==============
    MOBILE: Main
   ============== */


.footer-container #footer {
    color: black;
    padding: 20px 0;
}

.logo-footer {
    margin: 0 auto;
    text-align: center;
    float: none;
}

.logo {
  margin: 0;
  padding: 0;
  float: left;
}

.social {
          float: left;
          display: inline-block;
          clear:both;
          li {

          }
      }
.wrapper {
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
}

.center-text {
  text-align: center;
}

.center {
  margin: 0 auto;
}
/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .logo {

}

.card {
  background: #efefef;
  border: 1px solid #ccc;
  margin: 1rem 0;
  padding: 0;
  vertical-align: bottom;

  img {
    width: 100%;
  }
  h3 {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
  }
  h4 {
    font-family: 'Open Sans Condensed';
    color: #ccc;
    font-weight: 700;
    font-size: 3.2rem;
    margin: 0;
    padding: 0;
    span {
      font-size: 3.2rem;
      letter-spacing: -2px;
      color: black;
      text-transform: uppercase;
    }
  }
}

.action-card {
  height: 320px;
  padding: 1em;
  display: inline-block;
  box-sizing: border-box;

}

.home-card {
  background: #efefef;
  border: 1px solid #ccc;
  margin: 1rem 0;
  padding: 0;
  img {
    width: 100%;
  }
  h3 {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
  }
}

.section {
  .news-hdline span {
    font-weight: 800;
  }
  ul {
    list-style-type: none;
    padding-left: 1rem;
  }
}

#submenu {
  display: none;
}
.nav-horiz li {
display: table-cell;
}

.nav-fixed {
  width: 100%;
  position: fixed;
  z-index:9999;
  top:0;
}

.feature-hero {
  img {
    width: 100%;
  }
}
.subheader {
  font-size: 1.25rem;
  font-weight: 300;
}



/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.logo {
    float: left;
   }
.hero {
  background:  #000;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  padding: 0;
  img {
    width: 100%;
  }
  video {
    width: 100%;
    border: none;
    padding:0;
    margin:0;
    vertical-align: top;
    box-sizing: border-box;
  }
}
 .slider {
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    word-wrap: break-word;

      ul {list-style-type:none; margin:0; padding:0;
        li {list-style-type:none; @include zeroOut;}
      }
      h2 {font-size:3rem; line-height:1em; @include zeroOut; @include textShadow;}
      h3 {font-size:1.75rem; line-height:1.75rem; @include zeroOut; @include textShadow;}

      .aside {
      background: #000;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      color: white;
      left: 0 !important;
      bottom: 30px;
      position: static;
      border: 0;
      font-size: 100%;
      margin:0 auto;
      padding: 15px 20px;
      width:100%;
      text-align: left !important;
      text-transform: uppercase;
      word-wrap: break-word;
      vertical-align: baseline;
      z-index: 3;
      display: inline-block;
      }
      .aside-right {
        left: auto;
        right: 0;
      }
      .aside-left {
        right: auto;
        left: 0;
      }
  }

.nav-secondary {
    background: #efefef;
    border: 1px solid #ccc;
    padding: 0;

    h3 {
        font-size: 1rem;
        margin: 0;
        padding: .5rem;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            border-bottom: 1.75px dotted #bbb;
            padding: .5rem;
            vertical-align: middle;
            
            &:first-child {border-top: 1.75px dotted #bbb;} /* first child */
            &:last-child {border-bottom: none;} /* last child */

            .hdr {
              display: block;
              font-size: 14px;
              line-height: 14px;
              padding-top:2px;
              text-transform: uppercase;
              vertical-align: middle;
            }

            .hdr-sub { font-size: 14px; line-height: 14px; display: block; vertical-align: middle; }
        } /* end secondary list item */
    } /* end secondary list */
} /* end secondary */

.nav {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;

    
    li {
        display: inline-block;
        float: left;
        padding: 0 1em;
    }
    li:first-child {
        padding-left: 0;

    }
}

#footer {
  width: 100%;
  bottom: 0;
    .nav {
        font-size: 1rem;
    }
    .copyright {
        display: block;
        margin:0;
        padding:0;
        float:left;
        clear:both;
        font-size: .85rem;
    }
}

.pull-left {
    float: none !important;
}

.pull-right {
    float: none !important;
}
.ocard {
  margin: 0;
  padding: 2em 1em;
  background: white;
}

#profile-feature {
  margin: 0;
  padding: 2rem 0;
}

#overview {
  background-image: url("/img/squairy_light.png");
  padding-bottom:2em;
}

#accomplishments {
  background-color: #efede7;
}

img {
  margin: 0;
  padding: 0;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 768px) {


  /* ==========================================================================
     GRID
     ========================================================================== */
  @import "grid";
  
  

  .pull-left {
    float: left !important;
  }

    .pull-right {
      float: right !important;
  }
  /* ============
      WIDE: Main
     ============ */


      .social {
          float: left !important;
          display: block;
          clear:both;
          li {
              padding: .5rem .25rem !important;
          }
      }
      #footer nav {
          float: left;
      }
      .logo-footer {
      float:right;
      clear:left;
  }
  .hero {
    background:  #000;
    width: 100%;
    max-height: 600px;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    img {
      margin: 0 auto;
      text-align: center;
      width: 100%;
    }
  }
  .slider {
      ul {list-style-type:none; margin:0; padding:0;}
      h2 {font-size:4rem; line-height:1.1em; @include zeroOut;}
      h3 {font-size:1.75rem; line-height:1rem; @include zeroOut;}

      .aside {
      background: none !important;
      box-sizing: border-box;
      color: white;
      left: 0;
      bottom: 30px;
      position: absolute;
      border: 0;
      font-size: 100%;
      margin:0 auto;
      padding:0;
      text-transform: uppercase;
      vertical-align: baseline;
      z-index: 3;
      display: inline-block;
      }
      .aside-right {
        left: auto;
        right: 0;
        
      }
      .aside-left {
        right: auto;
        left: 0;
      }
  }
  .feature {
  margin: 0;
  padding:0;
  background: #000;
  min-height: 600px;
  position: relative;
  box-sizing: border-box;
  // border-bottom: 1px solid #fff;
  // border-top: 1px solid #000;
  overflow: hidden;
  }
  .feature-hero {
    bottom: 0;
    left: 50%;
    margin-left: -800px;
    position: absolute;
    top: 0;
    width: 1600px;
    z-index: 1;

    img {
      margin: 0 auto;
      display: block;
      width: 100%;
    }

    video {
      margin: 0 auto;
      display: block;
      width: 100%;
    }
  }
  .feature-content {
    background-color: transparent !important;
    z-index: 5;
    position: relative;
    padding-top:60px;
    h2 {
      font-size: 2.5rem;
      font-weight: 300;
      
      span {
        color: $secondary;
      }
    }
    .subheader {
      margin-top: 15px;
    }
  }

  .gutter-horiz-in {
    padding-left: 1.53061225%;
    padding-right: 1.53061225%;
  }
} // media query for 768

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

}
